# Dependencias
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/

# Base de datos local (NO subir)
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# Variables de entorno (NO subir - contienen claves secretas)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store
*.pem
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
